.header-img.red
  %h2.title About Me
%hr
.card.text.span12
  %p I love problem solving, which is probably why I naturally became addicted to programming and algorithmic analysis. The thrill of encountering a real-world problem and identifying a computational way to solve it is undeniably exciting. Furthermore, being able to employ these methods into building a website or making a professional looking application is a rewarding achievement in itself. That is why I strive for versatility in design by constantly learning new techniques in web, software and mobile development. I also appreciate the underlying complexity of the methods, back-ends and algorithms that each of these platforms are built on.
.card.span3
  %p Hello
.card.span9 
  %p There
.card.span4
  %p Dear
.card.span4
  %p Dear
.card.span4
  %p Dear
.card.span12
  %p Matey