html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  font-family: "Raleway", 'Helvetica Neue', futura,  sans-serif !important;
  background: #eee !important;
}
hr {
  border-color: #ccc !important;
  width: 100%;
}
.row {
  margin: 0 !important;
}