.logo {
  height: 50px;
  margin: calc(50% - 25px);
  background: white;
  border-radius: 25px;
  border-left: 10px solid wheat;
}

.content {
  position: absolute;
  margin-left: 150px;
  width: calc(100% - 150px);
  max-width: 1200px;

  height: 100%;
  padding: 20px;
  overflow: scroll;
  transition: all 0.2s ease;

  @media (max-width: 480px) {
    width: 100%;
    padding: 0;
  }

  @media (min-width: 1350px) {
    margin-left: calc(50% - 525px);
  }
}

.header-img {
  width: 100%;
  height: 200px;
  position: relative;

  h2 {
    position: absolute;
    bottom: -10px;
    left: 10px;
  }

  &.red {
    background: indianred;
    h2 { color: wheat; }
  }
  &.blue {
    background: deepskyblue;
    h2 { color: palegreen; }
  }
  &.orange {
    background: coral;
    h2 { color: lightyellow; }
  }
  &.green {
    background: mediumseagreen;
    h2 { color: aquamarine; }
  }
}